    .declaration-new-form-section {
        background-color: #f9f7f7 !important;
    }
    
    .declaration-new-form-section .text-4xl {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 10px;
    }
    
    .declaration-form-box {
        width: 100%;
        max-width: 500px;
    }
    /*****Admin css**/
    
    .declaration-form-questionary {
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
        margin-bottom: 15px;
        padding: 20px 20px 25px;
        border-radius: 5px;
    }
    
    .custom-select-outer>label>label>select,
    .declaration-form-control,
    .custom-textarea {
        border: 1px solid #cac9c9;
        width: 100%;
        border-radius: 5px;
        box-shadow: none !important;
        height: 45px;
        line-height: 45px;
        max-width: 100%;
        padding: 0 8px;
        outline: none;
    }
    
    .custom-textarea {
        width: 100%;
        min-height: 90px;
        line-height: 22px;
    }
    
    .btn-link {
        font-size: 17px;
        font-weight: 600;
        box-shadow: none;
        border: none;
        outline: none;
    }
    
    .btn-link:focus {
        box-shadow: none;
        border: none;
        outline: none;
    }
    
    .declaration-popup-hdr {
        font-size: 22px;
        font-weight: 600;
    }
    
    .custom-dec-form-value {
        font-size: 17px;
        margin-bottom: 18px;
        border: 1px solid #ddd;
        padding: 12px 15px;
        width: 100%;
        border-radius: 3px;
    }
    
    .custom-dec-field-value {
        font-weight: 700;
        margin-top: 4px;
        display: block;
    }
    
    .que-top-header {
        font-size: 21px;
        font-weight: 700;
        padding: 10px 0 3px;
    }
    /***End Admin*/
    
    .custom-textarea:focus,
    .custom-select-outer>select:focus,
    .declaration-form-control:focus {
        border: 1px solid #a2a2a2;
    }
    
    .declaration-form-box button {
        padding: 0 25px;
        border-radius: 5px;
        opacity: 1;
        letter-spacing: 0px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        float: right;
    }
    
    .declaration-form-box button:hover {
        opacity: 0.8 !important;
    }
    
    .survey-que-box {
        padding: 16px 20px 20px;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-top: 15px;
    }
    
    h3.que-title {
        font-size: 1.35rem;
        line-height: 30px;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    /* h3.que-title::before {
        content: '';
        position: absolute;
        left: 0;
        width: 60px;
        height: 3px;
        background: #b5b5b5;
        bottom: 0;
    } */
    /* h3.que-title::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #e0e0e0;
    } */
    
    h3.que-defination {
        font-size: 16px;
        margin-bottom: 30px;
        box-shadow: none;
        line-height: 28px;
        margin-top: 11px;
        border-radius: 5px;
    }
    
    h3.que-defination.que-defination-single {
        font-weight: 700;
        font-size: 20px;
    }
    
    .forget-pass-text {
        color: #757677 !important;
        text-decoration: none;
        font-size: 14px;
    }
    
    .forget-pass-text:hover {
        text-decoration: underline;
    }
    
    .mw-400 {
        max-width: 400px;
    }
    
    .declaration-admin-table {
        white-space: nowrap;
    }
    
    .declaration-updation-form .custom-select-outer>label>label>select,
    .declaration-updation-form .declaration-form-control,
    .declaration-updation-form .custom-textarea {
        margin-top: 8px;
    }
    
    .generate-button>button {
        position: absolute;
        bottom: 0px;
    }
    
    .declaration-form-box.setcron button {
        height: 41px;
        line-height: 41px;
        bottom: 11px;
    }
    
    fieldset[disabled] .multiselect {
        pointer-events: none
    }
    
    .multiselect__spinner {
        position: absolute;
        right: 1px;
        top: 1px;
        width: 48px;
        height: 35px;
        background: #fff;
        display: block
    }
    
    .multiselect__spinner:after,
    .multiselect__spinner:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        margin: -8px 0 0 -8px;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border-color: #41b883 transparent transparent;
        border-style: solid;
        border-width: 2px;
        box-shadow: 0 0 0 1px transparent
    }
    
    .multiselect__spinner:before {
        animation: a 2.4s cubic-bezier(.41, .26, .2, .62);
        animation-iteration-count: infinite
    }
    
    .multiselect__spinner:after {
        animation: a 2.4s cubic-bezier(.51, .09, .21, .8);
        animation-iteration-count: infinite
    }
    
    .multiselect__loading-enter-active,
    .multiselect__loading-leave-active {
        transition: opacity .4s ease-in-out;
        opacity: 1
    }
    
    .multiselect__loading-enter,
    .multiselect__loading-leave-active {
        opacity: 0
    }
    
    .multiselect,
    .multiselect__input,
    .multiselect__single {
        font-family: inherit;
        font-size: 16px;
        -ms-touch-action: manipulation;
        touch-action: manipulation
    }
    
    .multiselect {
        box-sizing: content-box;
        display: block;
        position: relative;
        width: 100%;
        min-height: 40px;
        text-align: left;
        color: #35495e
    }
    
    .multiselect * {
        box-sizing: border-box
    }
    
    .multiselect:focus {
        outline: none
    }
    
    .multiselect--disabled {
        opacity: .6
    }
    
    .multiselect--active {
        z-index: 1
    }
    
    .multiselect--active:not(.multiselect--above) .multiselect__current,
    .multiselect--active:not(.multiselect--above) .multiselect__input,
    .multiselect--active:not(.multiselect--above) .multiselect__tags {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }
    
    .multiselect--active .multiselect__select {
        transform: rotate(180deg)
    }
    
    .multiselect--above.multiselect--active .multiselect__current,
    .multiselect--above.multiselect--active .multiselect__input,
    .multiselect--above.multiselect--active .multiselect__tags {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }
    
    .multiselect__input,
    .multiselect__single {
        position: relative;
        display: inline-block;
        min-height: 20px;
        line-height: 20px;
        border: none;
        border-radius: 5px;
        background: #fff;
        padding: 0 0 0 5px;
        width: 100%;
        transition: border .1s ease;
        box-sizing: border-box;
        margin-bottom: 8px;
        vertical-align: top
    }
    
    .multiselect__input::-webkit-input-placeholder {
        color: #35495e
    }
    
    .multiselect__input:-ms-input-placeholder {
        color: #35495e
    }
    
    .multiselect__input::placeholder {
        color: #35495e
    }
    
    .multiselect__tag~.multiselect__input,
    .multiselect__tag~.multiselect__single {
        width: auto
    }
    
    .multiselect__input:hover,
    .multiselect__single:hover {
        border-color: #cfcfcf
    }
    
    .multiselect__input:focus,
    .multiselect__single:focus {
        border-color: #a8a8a8;
        outline: none
    }
    
    .multiselect__single {
        padding-left: 5px;
        margin-bottom: 8px
    }
    
    .multiselect__tags-wrap {
        display: inline
    }
    
    .multiselect__tags {
        min-height: 40px;
        display: block;
        padding: 8px 40px 0 8px;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        background: #fff;
        font-size: 14px
    }
    
    .multiselect__tag {
        position: relative;
        display: inline-block;
        padding: 4px 26px 4px 10px;
        border-radius: 5px;
        margin-right: 10px;
        color: #fff;
        line-height: 1;
        background: #41b883;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis
    }
    
    .multiselect__tag-icon {
        cursor: pointer;
        margin-left: 7px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        font-weight: 700;
        font-style: normal;
        width: 22px;
        text-align: center;
        line-height: 22px;
        transition: all .2s ease;
        border-radius: 5px
    }
    
    .multiselect__tag-icon:after {
        content: "\D7";
        color: #266d4d;
        font-size: 14px
    }
    
    .multiselect__tag-icon:focus,
    .multiselect__tag-icon:hover {
        background: #369a6e
    }
    
    .multiselect__tag-icon:focus:after,
    .multiselect__tag-icon:hover:after {
        color: #fff
    }
    
    .multiselect__current {
        min-height: 40px;
        overflow: hidden;
        padding: 8px 12px 0;
        padding-right: 30px;
        white-space: nowrap;
        border-radius: 5px;
        border: 1px solid #e8e8e8
    }
    
    .multiselect__current,
    .multiselect__select {
        line-height: 16px;
        box-sizing: border-box;
        display: block;
        margin: 0;
        text-decoration: none;
        cursor: pointer
    }
    
    .multiselect__select {
        position: absolute;
        width: 40px;
        height: 38px;
        right: 1px;
        top: 1px;
        padding: 4px 8px;
        text-align: center;
        transition: transform .2s ease
    }
    
    .multiselect__select:before {
        position: relative;
        right: 0;
        top: 65%;
        color: #999;
        margin-top: 4px;
        border-style: solid;
        border-width: 5px 5px 0;
        border-color: #999 transparent transparent;
        content: ""
    }
    
    .multiselect__placeholder {
        color: #adadad;
        display: inline-block;
        margin-bottom: 10px;
        padding-top: 2px
    }
    
    .multiselect--active .multiselect__placeholder {
        display: none
    }
    
    .multiselect__content-wrapper {
        position: absolute;
        display: block;
        background: #fff;
        width: 100%;
        max-height: 240px;
        overflow: auto;
        border: 1px solid #e8e8e8;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 1;
        -webkit-overflow-scrolling: touch
    }
    
    .multiselect__content {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        min-width: 100%;
        vertical-align: top
    }
    
    .multiselect--above .multiselect__content-wrapper {
        bottom: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        border-top: 1px solid #e8e8e8
    }
    
    .multiselect__content::webkit-scrollbar {
        display: none
    }
    
    .multiselect__element {
        display: block
    }
    
    .multiselect__option {
        display: block;
        padding: 12px;
        min-height: 40px;
        line-height: 16px;
        text-decoration: none;
        text-transform: none;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        white-space: nowrap
    }
    
    .multiselect__option:after {
        top: 0;
        right: 0;
        position: absolute;
        line-height: 40px;
        padding-right: 12px;
        padding-left: 20px;
        font-size: 13px
    }
    
    .multiselect__option--highlight {
        background: #41b883;
        outline: none;
        color: #fff
    }
    
    .multiselect__option--highlight:after {
        content: attr(data-select);
        background: #41b883;
        color: #fff
    }
    
    .multiselect__option--selected {
        background: #f3f3f3;
        color: #35495e;
        font-weight: 700
    }
    
    .multiselect__option--selected:after {
        content: attr(data-selected);
        color: silver
    }
    
    .multiselect__option--selected.multiselect__option--highlight {
        background: #ff6a6a;
        color: #fff
    }
    
    .multiselect__option--selected.multiselect__option--highlight:after {
        background: #ff6a6a;
        content: attr(data-deselect);
        color: #fff
    }
    
    .multiselect--disabled {
        background: #ededed;
        pointer-events: none
    }
    
    .multiselect--disabled .multiselect__current,
    .multiselect--disabled .multiselect__select,
    .multiselect__option--disabled {
        background: #ededed;
        color: #a6a6a6
    }
    
    .multiselect__option--disabled {
        cursor: text;
        pointer-events: none
    }
    
    .multiselect__option--group {
        background: #ededed;
        color: #35495e
    }
    
    .multiselect__option--group.multiselect__option--highlight {
        background: #35495e;
        color: #fff
    }
    
    .multiselect__option--group.multiselect__option--highlight:after {
        background: #35495e
    }
    
    .multiselect__option--disabled.multiselect__option--highlight {
        background: #dedede
    }
    
    .multiselect__option--group-selected.multiselect__option--highlight {
        background: #ff6a6a;
        color: #fff
    }
    
    .multiselect__option--group-selected.multiselect__option--highlight:after {
        background: #ff6a6a;
        content: attr(data-deselect);
        color: #fff
    }
    
    .multiselect-enter-active,
    .multiselect-leave-active {
        transition: all .15s ease
    }
    
    .multiselect-enter,
    .multiselect-leave-active {
        opacity: 0
    }
    
    .multiselect__strong {
        margin-bottom: 8px;
        line-height: 20px;
        display: inline-block;
        vertical-align: top
    }
    
    [dir=rtl] .multiselect {
        text-align: right
    }
    
    [dir=rtl] .multiselect__select {
        right: auto;
        left: 1px
    }
    
    [dir=rtl] .multiselect__tags {
        padding: 8px 8px 0 40px
    }
    
    [dir=rtl] .multiselect__content {
        text-align: right
    }
    
    [dir=rtl] .multiselect__option:after {
        right: auto;
        left: 0
    }
    
    [dir=rtl] .multiselect__clear {
        right: auto;
        left: 12px
    }
    
    [dir=rtl] .multiselect__spinner {
        right: auto;
        left: 1px
    }
    
    @keyframes a {
        0% {
            transform: rotate(0)
        }
        to {
            transform: rotate(2turn)
        }
    }
    
    #admin-sidebar {
        padding-bottom: 50px;
    }
    
    #admin-sidebar span {
        border-color: #636d82;
    }
    
    #admin-sidebar span a.active {
        background-color: #332ee1;
        color: #fff !important;
    }
    
    .bottom-text {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        background-color: #283747;
        padding: 10px 15px;
        display: block;
        width: 100%;
    }
    
    .forpopup .overflow-hidden {
        overflow: visible !important;
    }
    
    .forpopup .bg-white .close-btn {
        position: absolute;
        right: 13px;
        top: 7px;
    }
    
    .forpopup .bg-white .close-btn i {
        color: #000;
        font-size: 28px;
    }
    
    .closbtndec .grid label #declaration {
        height: 60px;
    }
    
    .closbtndec .grid label {
        padding: 0px;
        margin: 0px;
        width: 38%;
    }
    
    .top-btn-row {
        display: flex;
        align-items: baseline;
    }
    
    .forsenddec {
        z-index: 9999;
    }
    
    .footer-amc {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding-left: 255px !important;
        background: #e0e0e0;
        padding-top: 12px !important;
        padding-bottom: 9px !important;
    }
    
    .verify-text {
        padding-top: inherit;
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 5px;
        left: 0;
    }
    
    .declaration-form-box {
        max-width: 100%;
    }
    
    .declaration-new-form-section {
        position: relative;
    }
    
    .time-input-grp {
        position: relative;
    }
    
    .time-grp {
        background: #fff;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        display: flex;
    }
    
    .time-col {
        width: 33.33%;
    }
    
    .time-heading {
        text-align: center;
        display: inline-block;
        width: 100%;
        color: #a5a5a5;
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 3px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .time-list {
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .time-list ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .time-list ul li {
        padding-bottom: 5px;
        font-size: 15px;
        color: #000;
        list-style-type: none;
    }
    
    .time-list ul li:hover {
        background: #3c4b64;
        color: #fff;
        cursor: pointer;
    }
    
    .verifedcss {
        text-align: center;
        font-size: 21px;
    }
    
    .verifedcss1 {
        text-align: center;
        font-size: 24px;
    }
    
    .notempl {
        font-size: 17px;
    }
    /*******Responsvie**Start***************/
    
    @media screen and (max-width: 767px) {
        .declaration-form-box button,
        .custom-dec-btn {
            padding: 0 15px;
            border-radius: 3px;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
        }
        .custom-select-outer>label>label>select,
        .declaration-form-control,
        .custom-textarea {
            border-radius: 3px;
            height: 40px;
            line-height: 40px;
            padding: 0 8px;
            font-size: 14px;
        }
        .declaration-new-form-section .text-4xl {
            font-size: 1.25rem;
        }
        .declaration-new-form-section p {
            font-size: 14px;
        }
        .declaration-logo-cal img {
            max-width: 30%;
            margin: 0 auto !important;
        }
        h3.que-defination {
            font-size: 14px;
            line-height: 22px;
        }
        h3.que-title {
            font-size: 1.15rem;
            line-height: 22px;
        }
        /* h3.que-title::before {
            width: 40px;
            height: 3px;
        } */
        .custom-textarea {
            min-height: 75px;
            line-height: 22px;
        }
    }